name: Manual Build aria2 (aarch64 static)

on: 
  workflow_dispatch: # 手动触发

jobs:
  build-static-aarch64:
    runs-on: ubuntu-latest
    name: Build Static Binary for aarch64

    steps:
      # 1. 检出代码
      - uses: actions/checkout@v6

      # 2. 设置 QEMU，使 x86 机器可以运行 aarch64 容器
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.7.0

      - name: Build inside Alpine Linux Container
        run: |
          docker run --rm \
            --platform linux/arm64 \
            -v ${{ github.workspace }}:/work \
            -w /work \
            arm64v8/alpine:edge \
            sh -c "
              apk add --no-cache \
                build-base autoconf automake libtool pkgconf gettext-dev \
                git openssl-dev openssl-libs-static c-ares-dev c-ares-static \
                libssh2-dev libssh2-static sqlite-dev sqlite-static \
                zlib-dev zlib-static expat-dev expat-static
              
              autoreconf -i
              ./configure \
                --host=aarch64-alpine-linux-musl \
                --enable-static --disable-shared --disable-bittorrent \
                --without-gnutls --with-openssl --with-libexpat \
                --without-libxml2 --with-libssh2 --with-sqlite3 \
                CXXFLAGS='-Os -s' LDFLAGS='-static' PKG_CONFIG='pkgconf --static'
              
              make -j\$(nproc)
              strip src/aria2c
            "

      # 4. 上传 Artifact
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: aria2c-aarch64-static
          path: src/aria2c
          if-no-files-found: error
